@import public



.deanship-footer
  background: white

/*about us page*/
.about-page-2

  .deanship-navbar
    background: white


  .section
    padding: 100px
    padding-right: 250px

  .about-nav
    margin-top: 150px
    padding: 0 20px
    margin-right: 30px
    border-left: 1px solid #e5e5e5
    position: fixed
    z-index: 999999
    .nav
      z-index: 9999
      border: none

      a
        background: transparent
        text-align: right
        border-radius: 0
        padding: 10px
        position: relative
        color: black
        z-index: 2
        display: block
        border: none

        span
          position: relative
          &:before
            position: absolute
            content: ""
            top: 50%
            left: 100%
            height: 6px
            width: 6px
            border-radius: 50%
            background: black
            transition: 0.1s ease-in-out all


          &:after
            position: absolute
            content: ""
            top: 58%
            right: 0
            height: 2px
            width: 0
            background: $yellow
            z-index: -1


    li.active
      span
        &:before
          background: $yellow

        &:after
          width: 110%


    .nested-tabs
      li
        list-style-type: none
        a
          font-size: 13px
          position: relative
          padding-right: 25px
          color: gray

          div
            &:before
              position: absolute
              content: ""
              top: 60%
              left: 95%
              height: 1px
              width: 6px
              border-radius: 0
              background: black

      .active
        div
          color: black
          font-family: LT-Bold


  .section
    .about-deanship-quote

      .quote-thumbnail
        width: 300px


    .our-stories
      padding: 0 50px

      .nested-stories
        border: none

      .story
        padding: 10px
        a
          border: none
          color: black
          transition: 0.2s ease-in all
          &:hover
            opacity: 0.5

          &:active
            transform: scale(0.9)
        .story-thumbnail
          width: 100%



  .single-story
    .story-slider
      width: 80%
      margin-right: 50px
      position: relative

      .carousel-indicators
        position: absolute
        top: 0
        bottom: 0
        right: auto
        left: 101.9%
        margin: 0
        right: auto
        display: flex
        align-items: center
        flex-wrap: wrap

        &:after, &:before
          content: ""
          height: 80px
          width: 2px
          background: #e5e5e5
        li
          height: 10px
          width: 10px
          border-radius: 50%
          border: 1px solid #e5e5e5
          cursor: pointer

        li.active
          background: $yellow
          border-color: $yellow

    .story-details
      width: 80%
      margin-top: 50px
      margin-right: 50px
      p
        color: $gray

      .line-top-title
        padding-bottom: 25px






/************ F A D I N G   E F F E C T ************/
// .fullpage-wrapper
//   width: 100% !important
//   transform: none !important
//
// .fp-section
//   width: 100% !important
//   position: absolute
//   left: 0
//   top: 0
//   visibility: hidden
//   opacity: 0
//   z-index: 0
//   transition: all .2s ease-in-out
//
//
// .fp-section.active
//   visibility: visible
//   opacity: 1
//   z-index: 1
