@import public


/*landing-navbar*/
.landing-navbar
  .navbar-nav
    .nav-item:not(.dropdown)
      a
        color: white
    .nav-item.scroll-item:not(:first-of-type):after
      background: white


/*landing-footer*/
.landing-footer
  a
    color: white

  .copyright
    color: white


/*landing-sidebar*/
.landing-sidebar
  position: fixed
  top: 150px
  left: 50px
  width: 100px
  color: white
  text-align: center

  @media(max-width: 900px)
    width: 50px
    left: 0

  .slideshow-nav
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    text-align: center
    margin-bottom: 80px

    .current, .last
      width: 100%

    .v-devider
      height: 100px
      width: 2px
      background: white
      margin: 20px 0

  .deanship--icon
    margin: 0 auto


/*main content*/
.main
  /*splash*/
  .home-main
    background: #a5a5a5 url('../img/scroll/photo/bg1.jpg') center no-repeat
    background-size: cover
    padding: 150px 100px
    h2
      color: $yellow
      font-family: LT-Bold
      font-size: 8em
      line-height: 1.4

      @media(max-width: 750px)
        font-size: 6em

      @media(max-width: 500px)
        font-size: 3em

  /*about us*/
  .about-main
    padding: 150px 100px
    img
      width: 100%

    .col-md-6
      display: flex
      align-items: center
      flex-wrap: wrap

    .about-details
      width: 350px

      p
        font-size: 13px
        color: $gray
        margin-top: 25px

      h2
        font-family: LT-Bold
        font-size: 30px
        @media(max-width: 642px)
          font-size: 18px

  /*our services*/
  .our-services
    padding: 150px 100px
    @media(max-width: 930px)
      padding: 120px 30px
    .single-service
      text-align: right
      position: relative
      padding: 0
      padding-top: 30px
      @media(max-width: 575px)
        text-align: center
      img
        width: 180px

      .service-details
        padding: 0 20px


        p
          font-size: 13px
          color: $gray
          width: 230px
          @media(max-width: 992px)
            width: 180px

          @media(max-width: 575px)
            margin: 0 auto

        h2
          font-family: LT-Bold
          font-size: 20px
          margin: 15px auto

        .dotted-btn
          margin-top: 25px

          @media(max-width: 575px)
            margin: 0 auto

      &:after
        position: absolute
        content: ""
        height: 520px
        width: 2px
        right: 0
        background: #e5e5e5
        top: -50px

        @media(max-width: 992px)
          display: none

      &:before
        position: absolute
        content: ""
        height: 15px
        width: 15px
        right: -6px
        background: #e5e5e5
        top: -50px
        border-radius: 50%

        @media(max-width: 992px)
          display: none


  /*events*/
  .events-home
    padding: 120px 100px
    @media(max-width: 930px)
      padding: 120px 30px
    .event-slide
      .event-slide-wrapper
        margin: 0 auto
      .event-thumbnail
        text-align: center

        @media(max-width: 768px)
          text-align: center

        img
          width: 350px



      .event-description
        display: flex
        align-items: center
        justify-content: flex-start
        @media(max-width: 768px)
          text-align: center
        h2
          font-size: 30px
          font-family: LT-Bold
          color: $black-blue
          position: relative

          &:after
            position: absolute
            content: ""
            top: 120%
            right: 0
            height: 2px
            width: 50px
            background: $yellow

            @media(max-width: 768px)
              right: 45%

        p
          font-size: 12px
          color: $gray
          margin: 25px 0
          width: 80%

        .dotted-btn
          @media(max-width: 768px)
            margin: 0 auto


    .dates-wrapper
      display: flex
      align-items: center
      justify-content: center

      @media(max-width: 992px)
        display: block

      .nav
        @media(max-width: 992px)
          display: block
          text-align: center

    .nav-pills
      border-left: 1px solid #e5e5e5
      margin: auto 20px
      right: 150px
      z-index: 9999

      @media(max-width: 992px)
        border: none
        margin-bottom: 25px


      a
        background: transparent
        color: $black-blue
        display: inline-flex
        align-items: center
        justify-content: center
        text-align: center
        border-radius: 0
        border-bottom: 1px solid #e5e5e5
        width: 100px

        @media(max-width: 992px)
          border: none
          border-left: 1px solid #e5e5e5

        @media(max-width: 530px)
          padding: 10px
          width: 50px

        .event-date
          .day
            font-family: LT-Bold
            margin: 0
            font-size: 50px

            @media(max-width: 530px)
              font-size: 25px

          .month
            font-size: 14px
            letter-spacing: 2px
            text-transform: uppercase

      a:last-child
        border-bottom: none

        @media(max-width: 992px)
          border-left: none

      a.active
        border-left: 3px solid $yellow

        @media(max-width: 992px)
          border-left: 1px solid #e5e5e5
          border-top: 3px solid $yellow


  /*contact us*/
  .contact-us
    padding: 150px 100px
    background: #a5a5a5 url('../img/scroll/photo/bg2.jpg') center no-repeat
    background-size: cover

    @media(max-width: 767px)
      padding: 150px 20px

    .contact-details
      margin-top: 150px
      @media(max-width: 600px)
        margin-top: 50px
      h2
        color: $gray
        font-family: LT-Bold
        width: 800px

        @media(max-width: 1030px)
          width: 600px

        @media(max-width: 767px)
          width: 80%

        @media(max-width: 412px)
          font-size: 25px

      h4
        color: $gray
        font-family: LT-Bold
        margin: 25px 0
        width: 600px

        @media(max-width: 767px)
          width: 80%

        @media(max-width: 412px)
          font-size: 18px

        a
          color: $yellow

    .map-spot
      position: absolute
      text-align: center
      color: $gray
      bottom: 250px
      left: 400px

      @media(max-width: 1280px)
        bottom: 200px
        left: 200px

      @media(max-width: 767px)
        bottom: 150px
        left: 150px

      img
        margin-top: 10px



/*login-modal*/
.login-modal
  .login-modal-dialog
    width: 100%
    max-width: none
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
    margin: 0
    overflow: hidden

    .modal-content
      width: 450px
      border-radius: 0

      .login-form
        padding: 50px

        .form-title
          margin-bottom: 50px
          font-family: LT-Bold
          font-size: 25px
          position: relative
          display: block
          z-index: 2

          &:after
            position: absolute
            content: ""
            top: 110%
            left: 100%
            height: 6px
            width: 6px
            border-radius: 50%
            background: $yellow
            transition: 0.1s ease-in-out all

          &:before
            position: absolute
            content: ""
            top: 122%
            right: 4px
            height: 2px
            width: 70px
            background: $yellow
            z-index: -1


        input.form-control
          border-radius: 0
          border-color: #e5e5e5
          padding: 10px
          font-size: 18px

        .form-check
          color: gray
          margin-bottom: 50px
          font-size: 18px
          display: flex
          align-items: center


        .btn
          padding: 0
          margin-left: 20px
          font-size: 18px
          font-family: LT-Bold
          color: $light-blue
          text-decoration: none
          &:hover
            color: $yellow
