@import public

.deanship-footer
  background: white

.service-page
  overflow-y: scroll

  .deanship-navbar
    background: white


  .service-section
    padding: 150px 220px
    padding-bottom: 100px

    @media(max-width: 850px)
      padding: 150px 100px
      padding-bottom: 100px

    @media(max-width: 650px)
      padding: 150px 20px
      padding-bottom: 100px


    .description
      width: 500px
      @media(max-width: 650px)
        width: 100%

      p
        color: $gray


  .service-form
    margin-top: 50px

    .row, .col-md-6
      margin-bottom: 20px

    .form-check
      color: $gray
      font-size: 18px

    input
      height: 50px

    .input-group-postpend
      .input-group-text
        height: 50px
