/*colors */
/*fonts */
@font-face {
  font-family: LT-Light;
  src: url("../fonts/FrutigerLTArabic-45Light.ttf");
}
@font-face {
  font-family: LT-Roman;
  src: url("../fonts/FrutigerLTArabic-55Roman.ttf");
}
@font-face {
  font-family: LT-Bold;
  src: url("../fonts/FrutigerLTArabic-65Bold.ttf");
}
@font-face {
  font-family: LT-Black;
  src: url("../fonts/FrutigerLTArabic-75Black.ttf");
}
@media(max-width: 620px) {
  /* line 25, ../sass/_public.sass */
  h2 {
    font-size: 20px;
  }
}
/*public */
/* line 30, ../sass/_public.sass */
* {
  font-family: LT-Light;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 36, ../sass/_public.sass */
img {
  max-width: 100%;
}

/* line 40, ../sass/_public.sass */
.collapse {
  display: none;
}

/* line 43, ../sass/_public.sass */
.fp-section.fp-table, .fp-slide.fp-table {
  display: block;
}

/* line 46, ../sass/_public.sass */
.fp-tableCell {
  display: block;
}

/* line 49, ../sass/_public.sass */
.deanship-article {
  padding: 20px 50px;
}
/* line 52, ../sass/_public.sass */
.deanship-article .row {
  margin: 15px 0;
}
/* line 54, ../sass/_public.sass */
.deanship-article p {
  font-size: 18px;
  margin-top: 20px;
  color: #808080;
}
@media(max-width: 620px) {
  /* line 54, ../sass/_public.sass */
  .deanship-article p {
    font-size: 12px;
  }
}
/* line 62, ../sass/_public.sass */
.line-top-title {
  position: relative;
  font-family: LT-Bold;
}
/* line 66, ../sass/_public.sass */
.line-top-title:after {
  bottom: 85%;
  right: 0;
  width: 60px;
  content: "";
  position: absolute;
  height: 2px;
  background: #f6c103;
}

/* line 75, ../sass/_public.sass */
.dotted-btn {
  position: relative;
  padding: 0;
  text-decoration: none !important;
  color: #5a8d9b;
}
/* line 81, ../sass/_public.sass */
.dotted-btn:before {
  position: absolute;
  content: "";
  top: 25%;
  right: -5px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #f6c103;
  z-index: -1;
  opacity: 0.8;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}
/* line 94, ../sass/_public.sass */
.dotted-btn:hover:before {
  width: calc(100% + 10px);
  border-radius: 10px;
}

/* line 99, ../sass/_public.sass */
.deanship--content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*deanship navbar */
/* line 107, ../sass/_public.sass */
.deanship-navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  padding: 30px 20px;
  z-index: 9999;
}
/* line 114, ../sass/_public.sass */
.deanship-navbar .navbar-brand {
  position: fixed;
  top: 20px;
  left: 20px;
  display: block !important;
}
@media(max-width: 992px) {
  /* line 120, ../sass/_public.sass */
  .deanship-navbar .navbar-nav {
    background: #808080;
    margin-top: 50px;
  }
}
/* line 125, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) {
  margin: 0 40px;
  position: relative;
}
@media(max-width: 1100px) {
  /* line 125, ../sass/_public.sass */
  .deanship-navbar .navbar-nav .nav-item:not(.dropdown) {
    margin: 0 20px;
  }
}
/* line 130, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) a {
  color: black;
  font-size: 12px;
  position: relative;
  z-index: 2;
  display: block;
}
/* line 137, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) a:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 100%;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #f6c103;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.1s ease-in-out all;
  transition: 0.1s ease-in-out all;
}
/* line 149, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) a:before {
  position: absolute;
  content: "";
  top: 55%;
  left: 5%;
  height: 2px;
  width: 0;
  opacity: 0.8;
  background: #f6c103;
  z-index: -1;
  -webkit-transition: 0.1s ease-in-out all;
  transition: 0.1s ease-in-out all;
}
/* line 161, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) a:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/* line 164, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) a:hover:before {
  width: 85%;
}
/* line 169, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item.active:not(.dropdown) a:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/* line 172, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item.active:not(.dropdown) a:before {
  width: 85%;
}
/* line 176, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item.scroll-item:not(:first-of-type):after {
  position: absolute;
  content: "";
  height: 2px;
  width: 2px;
  background: black;
  border-radius: 2px;
  top: 45%;
  left: 150%;
}
@media(max-width: 1100px) {
  /* line 176, ../sass/_public.sass */
  .deanship-navbar .navbar-nav .nav-item.scroll-item:not(:first-of-type):after {
    left: 130%;
  }
}
@media(max-width: 992px) {
  /* line 189, ../sass/_public.sass */
  .deanship-navbar .navbar-nav .dropdown {
    margin: 0 15px;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}
/* line 193, ../sass/_public.sass */
.deanship-navbar .navbar-nav .dropdown a:after {
  opacity: 0;
}
/* line 196, ../sass/_public.sass */
.deanship-navbar .navbar-nav .dropdown .dropdown-menu {
  background: #23454c;
  padding: 0;
}
/* line 199, ../sass/_public.sass */
.deanship-navbar .navbar-nav .dropdown .dropdown-menu a {
  color: white;
  font-size: 12px;
  padding: 5px 10px;
}
/* line 204, ../sass/_public.sass */
.deanship-navbar .navbar-nav .dropdown .dropdown-menu a:hover {
  color: #23454c;
}
/* line 207, ../sass/_public.sass */
.deanship-navbar .navbar-nav .dropdown .dropdown-menu .dropdown-divider {
  margin: 0;
}
/* line 211, ../sass/_public.sass */
.deanship-navbar .navbar-toggler {
  border: none;
  outline: none;
}

/*deanship-footer */
/* line 218, ../sass/_public.sass */
.deanship-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}
@media(max-width: 720px) {
  /* line 218, ../sass/_public.sass */
  .deanship-footer {
    padding: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* line 233, ../sass/_public.sass */
.deanship-footer a {
  color: black;
  font-size: 11px;
  padding: 5px;
}
/* line 238, ../sass/_public.sass */
.deanship-footer a .deanship--icon {
  margin-left: 10px;
}
@media(max-width: 720px) {
  /* line 238, ../sass/_public.sass */
  .deanship-footer a .deanship--icon {
    margin-left: 3px;
  }
}
@media(max-width: 720px) {
  /* line 244, ../sass/_public.sass */
  .deanship-footer .footer-contact-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* line 249, ../sass/_public.sass */
.deanship-footer .footer-contact-nav .nav-item {
  margin: 0 5px;
}
/* line 252, ../sass/_public.sass */
.deanship-footer .copyright {
  color: black;
  font-size: 11px;
}

/* line 5, ../sass/events.sass */
.deanship-footer {
  background: white;
}

/*about us page */
/* line 9, ../sass/events.sass */
.events-page {
  overflow: scroll;
}
/* line 12, ../sass/events.sass */
.events-page .deanship-navbar {
  background: white;
}
/* line 16, ../sass/events.sass */
.events-page .section {
  padding: 100px;
  padding-right: 250px;
}
@media(max-width: 900px) {
  /* line 16, ../sass/events.sass */
  .events-page .section {
    padding: 100px 50px;
    padding-right: 250px;
  }
}
@media(max-width: 850px) {
  /* line 16, ../sass/events.sass */
  .events-page .section {
    padding: 100px 10px;
    padding-right: 200px;
  }
}
@media(max-width: 650px) {
  /* line 16, ../sass/events.sass */
  .events-page .section {
    padding: 100px 10px;
    padding-top: 0;
  }
}
/* line 32, ../sass/events.sass */
.events-page .events-nav {
  margin-top: 150px;
  padding: 0 20px;
  margin-right: 30px;
  border-left: 1px solid #e5e5e5;
  position: fixed;
  z-index: 999;
}
@media(max-width: 850px) {
  /* line 32, ../sass/events.sass */
  .events-page .events-nav {
    padding: 0 10px;
    margin-right: 10px;
  }
}
@media(max-width: 650px) {
  /* line 32, ../sass/events.sass */
  .events-page .events-nav {
    margin-top: 80px;
    margin-right: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    background: white;
  }
}
@media(max-width: 650px) {
  /* line 53, ../sass/events.sass */
  .events-page .events-nav .flex-column {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}
/* line 57, ../sass/events.sass */
.events-page .events-nav .nav {
  z-index: 9999;
  border: none;
}
@media(max-width: 650px) {
  /* line 61, ../sass/events.sass */
  .events-page .events-nav .nav .nav#about-side-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media(max-width: 650px) {
  /* line 66, ../sass/events.sass */
  .events-page .events-nav .nav .nav-item {
    display: inline-block;
  }
}
/* line 70, ../sass/events.sass */
.events-page .events-nav .nav a {
  background: transparent;
  text-align: right;
  border-radius: 0;
  padding: 10px;
  position: relative;
  color: black;
  z-index: 2;
  display: block;
  border: none;
}
/* line 81, ../sass/events.sass */
.events-page .events-nav .nav a span {
  position: relative;
}
/* line 83, ../sass/events.sass */
.events-page .events-nav .nav a span:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 100%;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: black;
  -webkit-transition: 0.1s ease-in-out all;
  transition: 0.1s ease-in-out all;
}
/* line 95, ../sass/events.sass */
.events-page .events-nav .nav a span:after {
  position: absolute;
  content: "";
  top: 58%;
  right: 0;
  height: 2px;
  width: 0;
  background: #f6c103;
  z-index: -1;
}
/* line 108, ../sass/events.sass */
.events-page .events-nav li.active span:before {
  background: #f6c103;
}
/* line 111, ../sass/events.sass */
.events-page .events-nav li.active span:after {
  width: 110%;
}
/* line 116, ../sass/events.sass */
.events-page .events-nav .nested-tabs li {
  list-style-type: none;
}
/* line 118, ../sass/events.sass */
.events-page .events-nav .nested-tabs li a {
  font-size: 13px;
  position: relative;
  padding-right: 25px;
  color: gray;
}
/* line 125, ../sass/events.sass */
.events-page .events-nav .nested-tabs li a div:before {
  position: absolute;
  content: "";
  top: 60%;
  left: 95%;
  height: 1px;
  width: 6px;
  border-radius: 0;
  background: black;
}
/* line 136, ../sass/events.sass */
.events-page .events-nav .nested-tabs .active div {
  color: black;
  font-family: LT-Bold;
}
/* line 143, ../sass/events.sass */
.events-page .section .multi-events {
  padding: 0 50px;
}
@media(max-width: 900px) {
  /* line 143, ../sass/events.sass */
  .events-page .section .multi-events {
    padding: 0 10px;
  }
}
/* line 149, ../sass/events.sass */
.events-page .section .multi-events .nested-stories {
  border: none;
}
/* line 152, ../sass/events.sass */
.events-page .section .multi-events .event {
  padding: 10px;
}
/* line 154, ../sass/events.sass */
.events-page .section .multi-events .event a {
  border: none;
  color: black;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
}
/* line 158, ../sass/events.sass */
.events-page .section .multi-events .event a:hover {
  opacity: 0.5;
}
/* line 161, ../sass/events.sass */
.events-page .section .multi-events .event a:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
/* line 163, ../sass/events.sass */
.events-page .section .multi-events .event .event-thumbnail {
  width: 100%;
}
/* line 169, ../sass/events.sass */
.events-page .single-event .event-slider {
  width: 80%;
  margin-right: 50px;
  position: relative;
}
@media(max-width: 1000px) {
  /* line 169, ../sass/events.sass */
  .events-page .single-event .event-slider {
    width: 100%;
    margin-right: 20px;
  }
}
@media(max-width: 650px) {
  /* line 169, ../sass/events.sass */
  .events-page .single-event .event-slider {
    margin-right: 0;
  }
}
/* line 182, ../sass/events.sass */
.events-page .single-event .event-slider .carousel-indicators {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 101.9%;
  margin: 0;
  right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 194, ../sass/events.sass */
.events-page .single-event .event-slider .carousel-indicators:after, .events-page .single-event .event-slider .carousel-indicators:before {
  content: "";
  height: 25%;
  width: 2px;
  background: #e5e5e5;
}
/* line 199, ../sass/events.sass */
.events-page .single-event .event-slider .carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}
/* line 206, ../sass/events.sass */
.events-page .single-event .event-slider .carousel-indicators li.active {
  background: #f6c103;
  border-color: #f6c103;
}
/* line 210, ../sass/events.sass */
.events-page .single-event .event-details {
  width: 80%;
  margin-top: 50px;
  margin-right: 50px;
}
@media(max-width: 1000px) {
  /* line 210, ../sass/events.sass */
  .events-page .single-event .event-details {
    width: 100%;
    margin-right: 20px;
  }
}
@media(max-width: 650px) {
  /* line 210, ../sass/events.sass */
  .events-page .single-event .event-details {
    margin-right: 0;
  }
}
/* line 221, ../sass/events.sass */
.events-page .single-event .event-details p {
  color: #808080;
}
/* line 224, ../sass/events.sass */
.events-page .single-event .event-details .line-top-title {
  padding-bottom: 25px;
}

/*# sourceMappingURL=events.css.map */