/*colors */
/*fonts */
@font-face {
  font-family: LT-Light;
  src: url("../fonts/FrutigerLTArabic-45Light.ttf");
}
@font-face {
  font-family: LT-Roman;
  src: url("../fonts/FrutigerLTArabic-55Roman.ttf");
}
@font-face {
  font-family: LT-Bold;
  src: url("../fonts/FrutigerLTArabic-65Bold.ttf");
}
@font-face {
  font-family: LT-Black;
  src: url("../fonts/FrutigerLTArabic-75Black.ttf");
}
/*public */
/* line 26, ../sass/_public.sass */
* {
  font-family: LT-Light;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 32, ../sass/_public.sass */
.fp-section.fp-table, .fp-slide.fp-table {
  display: block;
}

/* line 35, ../sass/_public.sass */
.fp-tableCell {
  display: block;
}

/* line 38, ../sass/_public.sass */
.dotted-btn {
  position: relative;
  padding: 0;
  text-decoration: none !important;
  color: #5a8d9b;
}
/* line 44, ../sass/_public.sass */
.dotted-btn:before {
  position: absolute;
  content: "";
  top: 25%;
  right: -5px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #f6c103;
  z-index: -1;
  opacity: 0.8;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}
/* line 57, ../sass/_public.sass */
.dotted-btn:hover:before {
  width: calc(100% + 10px);
  border-radius: 10px;
}

/* line 62, ../sass/_public.sass */
.deanship--content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*deanship navbar */
/* line 70, ../sass/_public.sass */
.deanship-navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  padding: 30px 0px;
  z-index: 9999;
}
/* line 77, ../sass/_public.sass */
.deanship-navbar .navbar-brand {
  position: fixed;
  top: 20px;
  left: 20px;
  display: block !important;
}
@media(max-width: 992px) {
  /* line 83, ../sass/_public.sass */
  .deanship-navbar .navbar-nav {
    background: #808080;
    margin-top: 50px;
  }
}
/* line 88, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) {
  margin: 0 40px;
  position: relative;
}
@media(max-width: 1100px) {
  /* line 88, ../sass/_public.sass */
  .deanship-navbar .navbar-nav .nav-item:not(.dropdown) {
    margin: 0 20px;
  }
}
/* line 93, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) a {
  color: black;
  font-size: 12px;
  position: relative;
  z-index: 2;
  display: block;
}
/* line 100, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) a:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 100%;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #f6c103;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.1s ease-in-out all;
  transition: 0.1s ease-in-out all;
}
/* line 112, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) a:before {
  position: absolute;
  content: "";
  top: 55%;
  left: 5%;
  height: 2px;
  width: 0;
  opacity: 0.8;
  background: #f6c103;
  z-index: -1;
  -webkit-transition: 0.1s ease-in-out all;
  transition: 0.1s ease-in-out all;
}
/* line 124, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) a:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/* line 127, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item:not(.dropdown) a:hover:before {
  width: 85%;
}
/* line 132, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item.active:not(.dropdown) a:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/* line 135, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item.active:not(.dropdown) a:before {
  width: 85%;
}
/* line 139, ../sass/_public.sass */
.deanship-navbar .navbar-nav .nav-item.scroll-item:not(:first-of-type):after {
  position: absolute;
  content: "";
  height: 2px;
  width: 2px;
  background: black;
  border-radius: 2px;
  top: 45%;
  left: 150%;
}
@media(max-width: 1100px) {
  /* line 139, ../sass/_public.sass */
  .deanship-navbar .navbar-nav .nav-item.scroll-item:not(:first-of-type):after {
    left: 130%;
  }
}
@media(max-width: 992px) {
  /* line 152, ../sass/_public.sass */
  .deanship-navbar .navbar-nav .dropdown {
    margin: 0 15px;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}
/* line 156, ../sass/_public.sass */
.deanship-navbar .navbar-nav .dropdown a:after {
  opacity: 0;
}
/* line 159, ../sass/_public.sass */
.deanship-navbar .navbar-nav .dropdown .dropdown-menu {
  background: #23454c;
  padding: 0;
}
/* line 162, ../sass/_public.sass */
.deanship-navbar .navbar-nav .dropdown .dropdown-menu a {
  color: white;
  font-size: 12px;
  padding: 5px 10px;
}
/* line 167, ../sass/_public.sass */
.deanship-navbar .navbar-nav .dropdown .dropdown-menu a:hover {
  color: #23454c;
}
/* line 170, ../sass/_public.sass */
.deanship-navbar .navbar-nav .dropdown .dropdown-menu .dropdown-divider {
  margin: 0;
}
/* line 174, ../sass/_public.sass */
.deanship-navbar .navbar-toggler {
  border: none;
  outline: none;
}

/*deanship-footer */
/* line 181, ../sass/_public.sass */
.deanship-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}
/* line 190, ../sass/_public.sass */
.deanship-footer a {
  color: black;
  font-size: 11px;
  padding: 5px;
}
/* line 195, ../sass/_public.sass */
.deanship-footer a .deanship--icon {
  margin-left: 10px;
}
/* line 199, ../sass/_public.sass */
.deanship-footer .footer-contact-nav .nav-item {
  margin: 0 5px;
}
/* line 202, ../sass/_public.sass */
.deanship-footer .copyright {
  color: black;
  font-size: 11px;
}

/*landing-navbar */
/* line 8, ../sass/scroll.sass */
.landing-navbar .navbar-nav .nav-item:not(.dropdown) a {
  color: white;
}
/* line 10, ../sass/scroll.sass */
.landing-navbar .navbar-nav .nav-item.scroll-item:not(:first-of-type):after {
  background: white;
}

/*landing-footer */
/* line 16, ../sass/scroll.sass */
.landing-footer a {
  color: white;
}
/* line 19, ../sass/scroll.sass */
.landing-footer .copyright {
  color: white;
}

/*landing-sidebar */
/* line 24, ../sass/scroll.sass */
.landing-sidebar {
  position: fixed;
  top: 150px;
  left: 50px;
  width: 100px;
  color: white;
  text-align: center;
}
@media(max-width: 900px) {
  /* line 24, ../sass/scroll.sass */
  .landing-sidebar {
    width: 50px;
    left: 0;
  }
}
/* line 36, ../sass/scroll.sass */
.landing-sidebar .slideshow-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-bottom: 80px;
}
/* line 44, ../sass/scroll.sass */
.landing-sidebar .slideshow-nav .current, .landing-sidebar .slideshow-nav .last {
  width: 100%;
}
/* line 47, ../sass/scroll.sass */
.landing-sidebar .slideshow-nav .v-devider {
  height: 100px;
  width: 2px;
  background: white;
  margin: 20px 0;
}
/* line 53, ../sass/scroll.sass */
.landing-sidebar .deanship--icon {
  margin: 0 auto;
}

/*main content */
/* line 58, ../sass/scroll.sass */
.main {
  /*splash */
  /*about us */
  /*our services */
  /*events */
  /*contact us */
}
/* line 60, ../sass/scroll.sass */
.main .home-main {
  background: #a5a5a5 url("../img/scroll/photo/bg1.jpg") center no-repeat;
  background-size: cover;
  padding: 150px 100px;
}
/* line 64, ../sass/scroll.sass */
.main .home-main h2 {
  color: #f6c103;
  font-family: LT-Bold;
  font-size: 8em;
  line-height: 1.4;
}
@media(max-width: 750px) {
  /* line 64, ../sass/scroll.sass */
  .main .home-main h2 {
    font-size: 6em;
  }
}
@media(max-width: 500px) {
  /* line 64, ../sass/scroll.sass */
  .main .home-main h2 {
    font-size: 3em;
  }
}
/* line 77, ../sass/scroll.sass */
.main .about-main {
  padding: 150px 100px;
}
/* line 79, ../sass/scroll.sass */
.main .about-main img {
  width: 100%;
}
/* line 82, ../sass/scroll.sass */
.main .about-main .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 87, ../sass/scroll.sass */
.main .about-main .about-details {
  width: 350px;
}
/* line 90, ../sass/scroll.sass */
.main .about-main .about-details p {
  font-size: 13px;
  color: #808080;
  margin-top: 25px;
}
/* line 95, ../sass/scroll.sass */
.main .about-main .about-details h2 {
  font-family: LT-Bold;
  font-size: 30px;
}
@media(max-width: 642px) {
  /* line 95, ../sass/scroll.sass */
  .main .about-main .about-details h2 {
    font-size: 18px;
  }
}
/* line 102, ../sass/scroll.sass */
.main .our-services {
  padding: 150px 100px;
}
@media(max-width: 930px) {
  /* line 102, ../sass/scroll.sass */
  .main .our-services {
    padding: 120px 30px;
  }
}
/* line 106, ../sass/scroll.sass */
.main .our-services .single-service {
  text-align: right;
  position: relative;
  padding: 0;
  padding-top: 30px;
}
@media(max-width: 575px) {
  /* line 106, ../sass/scroll.sass */
  .main .our-services .single-service {
    text-align: center;
  }
}
/* line 113, ../sass/scroll.sass */
.main .our-services .single-service img {
  width: 180px;
}
/* line 116, ../sass/scroll.sass */
.main .our-services .single-service .service-details {
  padding: 0 20px;
}
/* line 120, ../sass/scroll.sass */
.main .our-services .single-service .service-details p {
  font-size: 13px;
  color: #808080;
  width: 230px;
}
@media(max-width: 992px) {
  /* line 120, ../sass/scroll.sass */
  .main .our-services .single-service .service-details p {
    width: 180px;
  }
}
@media(max-width: 575px) {
  /* line 120, ../sass/scroll.sass */
  .main .our-services .single-service .service-details p {
    margin: 0 auto;
  }
}
/* line 130, ../sass/scroll.sass */
.main .our-services .single-service .service-details h2 {
  font-family: LT-Bold;
  font-size: 20px;
  margin: 15px auto;
}
/* line 135, ../sass/scroll.sass */
.main .our-services .single-service .service-details .dotted-btn {
  margin-top: 25px;
}
@media(max-width: 575px) {
  /* line 135, ../sass/scroll.sass */
  .main .our-services .single-service .service-details .dotted-btn {
    margin: 0 auto;
  }
}
/* line 141, ../sass/scroll.sass */
.main .our-services .single-service:after {
  position: absolute;
  content: "";
  height: 520px;
  width: 2px;
  right: 0;
  background: #e5e5e5;
  top: -50px;
}
@media(max-width: 992px) {
  /* line 141, ../sass/scroll.sass */
  .main .our-services .single-service:after {
    display: none;
  }
}
/* line 153, ../sass/scroll.sass */
.main .our-services .single-service:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  right: -6px;
  background: #e5e5e5;
  top: -50px;
  border-radius: 50%;
}
@media(max-width: 992px) {
  /* line 153, ../sass/scroll.sass */
  .main .our-services .single-service:before {
    display: none;
  }
}
/* line 168, ../sass/scroll.sass */
.main .events-home {
  padding: 120px 100px;
}
@media(max-width: 930px) {
  /* line 168, ../sass/scroll.sass */
  .main .events-home {
    padding: 120px 30px;
  }
}
/* line 173, ../sass/scroll.sass */
.main .events-home .event-slide .event-slide-wrapper {
  margin: 0 auto;
}
/* line 175, ../sass/scroll.sass */
.main .events-home .event-slide .event-thumbnail {
  text-align: left;
}
@media(max-width: 768px) {
  /* line 175, ../sass/scroll.sass */
  .main .events-home .event-slide .event-thumbnail {
    text-align: center;
  }
}
/* line 181, ../sass/scroll.sass */
.main .events-home .event-slide .event-thumbnail img {
  width: 350px;
}
/* line 186, ../sass/scroll.sass */
.main .events-home .event-slide .event-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media(max-width: 768px) {
  /* line 186, ../sass/scroll.sass */
  .main .events-home .event-slide .event-description {
    text-align: center;
  }
}
/* line 192, ../sass/scroll.sass */
.main .events-home .event-slide .event-description h2 {
  font-size: 30px;
  font-family: LT-Bold;
  color: #23454c;
  position: relative;
}
/* line 198, ../sass/scroll.sass */
.main .events-home .event-slide .event-description h2:after {
  position: absolute;
  content: "";
  top: 120%;
  right: 0;
  height: 2px;
  width: 50px;
  background: #f6c103;
}
@media(max-width: 768px) {
  /* line 198, ../sass/scroll.sass */
  .main .events-home .event-slide .event-description h2:after {
    right: 45%;
  }
}
/* line 210, ../sass/scroll.sass */
.main .events-home .event-slide .event-description p {
  font-size: 12px;
  color: #808080;
  margin: 25px 0;
}
@media(max-width: 768px) {
  /* line 215, ../sass/scroll.sass */
  .main .events-home .event-slide .event-description .dotted-btn {
    margin: 0 auto;
  }
}
/* line 220, ../sass/scroll.sass */
.main .events-home .dates-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media(max-width: 992px) {
  /* line 220, ../sass/scroll.sass */
  .main .events-home .dates-wrapper {
    display: block;
  }
}
@media(max-width: 992px) {
  /* line 228, ../sass/scroll.sass */
  .main .events-home .dates-wrapper .nav {
    display: block;
    text-align: center;
  }
}
/* line 233, ../sass/scroll.sass */
.main .events-home .nav-pills {
  border-left: 1px solid #e5e5e5;
  margin: auto 20px;
  right: 150px;
  z-index: 9999;
}
@media(max-width: 992px) {
  /* line 233, ../sass/scroll.sass */
  .main .events-home .nav-pills {
    border: none;
    margin-bottom: 25px;
  }
}
/* line 244, ../sass/scroll.sass */
.main .events-home .nav-pills a {
  background: transparent;
  color: #23454c;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 0;
  border-bottom: 1px solid #e5e5e5;
  width: 100px;
}
@media(max-width: 992px) {
  /* line 244, ../sass/scroll.sass */
  .main .events-home .nav-pills a {
    border: none;
    border-left: 1px solid #e5e5e5;
  }
}
@media(max-width: 530px) {
  /* line 244, ../sass/scroll.sass */
  .main .events-home .nav-pills a {
    padding: 10px;
    width: 50px;
  }
}
/* line 264, ../sass/scroll.sass */
.main .events-home .nav-pills a .event-date .day {
  font-family: LT-Bold;
  margin: 0;
  font-size: 50px;
}
@media(max-width: 530px) {
  /* line 264, ../sass/scroll.sass */
  .main .events-home .nav-pills a .event-date .day {
    font-size: 25px;
  }
}
/* line 272, ../sass/scroll.sass */
.main .events-home .nav-pills a .event-date .month {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 277, ../sass/scroll.sass */
.main .events-home .nav-pills a:last-child {
  border-bottom: none;
}
@media(max-width: 992px) {
  /* line 277, ../sass/scroll.sass */
  .main .events-home .nav-pills a:last-child {
    border-left: none;
  }
}
/* line 283, ../sass/scroll.sass */
.main .events-home .nav-pills a.active {
  border-left: 3px solid #f6c103;
}
@media(max-width: 992px) {
  /* line 283, ../sass/scroll.sass */
  .main .events-home .nav-pills a.active {
    border-left: 1px solid #e5e5e5;
    border-top: 3px solid #f6c103;
  }
}
/* line 292, ../sass/scroll.sass */
.main .contact-us {
  padding: 150px 100px;
  background: #a5a5a5 url("../img/scroll/photo/bg2.jpg") center no-repeat;
  background-size: cover;
}
@media(max-width: 767px) {
  /* line 292, ../sass/scroll.sass */
  .main .contact-us {
    padding: 150px 20px;
  }
}
/* line 300, ../sass/scroll.sass */
.main .contact-us .contact-details {
  margin-top: 150px;
}
@media(max-width: 600px) {
  /* line 300, ../sass/scroll.sass */
  .main .contact-us .contact-details {
    margin-top: 50px;
  }
}
/* line 304, ../sass/scroll.sass */
.main .contact-us .contact-details h2 {
  color: #808080;
  font-family: LT-Bold;
  width: 800px;
}
@media(max-width: 1030px) {
  /* line 304, ../sass/scroll.sass */
  .main .contact-us .contact-details h2 {
    width: 600px;
  }
}
@media(max-width: 767px) {
  /* line 304, ../sass/scroll.sass */
  .main .contact-us .contact-details h2 {
    width: 80%;
  }
}
@media(max-width: 412px) {
  /* line 304, ../sass/scroll.sass */
  .main .contact-us .contact-details h2 {
    font-size: 25px;
  }
}
/* line 318, ../sass/scroll.sass */
.main .contact-us .contact-details h4 {
  color: #808080;
  font-family: LT-Bold;
  margin: 25px 0;
  width: 600px;
}
@media(max-width: 767px) {
  /* line 318, ../sass/scroll.sass */
  .main .contact-us .contact-details h4 {
    width: 80%;
  }
}
@media(max-width: 412px) {
  /* line 318, ../sass/scroll.sass */
  .main .contact-us .contact-details h4 {
    font-size: 18px;
  }
}
/* line 330, ../sass/scroll.sass */
.main .contact-us .contact-details h4 a {
  color: #f6c103;
}
/* line 333, ../sass/scroll.sass */
.main .contact-us .map-spot {
  position: absolute;
  text-align: center;
  color: #808080;
  bottom: 250px;
  left: 400px;
}
@media(max-width: 1280px) {
  /* line 333, ../sass/scroll.sass */
  .main .contact-us .map-spot {
    bottom: 200px;
    left: 200px;
  }
}
@media(max-width: 767px) {
  /* line 333, ../sass/scroll.sass */
  .main .contact-us .map-spot {
    bottom: 150px;
    left: 150px;
  }
}
/* line 348, ../sass/scroll.sass */
.main .contact-us .map-spot img {
  margin-top: 10px;
}

/*login-modal */
/* line 355, ../sass/scroll.sass */
.login-modal .login-modal-dialog {
  width: 100%;
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
/* line 365, ../sass/scroll.sass */
.login-modal .login-modal-dialog .modal-content {
  width: 450px;
  border-radius: 0;
}
/* line 369, ../sass/scroll.sass */
.login-modal .login-modal-dialog .modal-content .login-form {
  padding: 50px;
}
/* line 372, ../sass/scroll.sass */
.login-modal .login-modal-dialog .modal-content .login-form .form-title {
  margin-bottom: 50px;
  font-family: LT-Bold;
  font-size: 25px;
  position: relative;
  display: block;
  z-index: 2;
}
/* line 380, ../sass/scroll.sass */
.login-modal .login-modal-dialog .modal-content .login-form .form-title:after {
  position: absolute;
  content: "";
  top: 110%;
  left: 100%;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #f6c103;
  -webkit-transition: 0.1s ease-in-out all;
  transition: 0.1s ease-in-out all;
}
/* line 391, ../sass/scroll.sass */
.login-modal .login-modal-dialog .modal-content .login-form .form-title:before {
  position: absolute;
  content: "";
  top: 122%;
  right: 4px;
  height: 2px;
  width: 70px;
  background: #f6c103;
  z-index: -1;
}
/* line 402, ../sass/scroll.sass */
.login-modal .login-modal-dialog .modal-content .login-form input.form-control {
  border-radius: 0;
  border-color: #e5e5e5;
  padding: 10px;
  font-size: 18px;
}
/* line 408, ../sass/scroll.sass */
.login-modal .login-modal-dialog .modal-content .login-form .form-check {
  color: gray;
  margin-bottom: 50px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 416, ../sass/scroll.sass */
.login-modal .login-modal-dialog .modal-content .login-form .btn {
  padding: 0;
  margin-left: 20px;
  font-size: 18px;
  font-family: LT-Bold;
  color: #5a8d9b;
  text-decoration: none;
}
/* line 423, ../sass/scroll.sass */
.login-modal .login-modal-dialog .modal-content .login-form .btn:hover {
  color: #f6c103;
}

/*# sourceMappingURL=scroll.css.map */